body { 
	
	
	background: #FFFFCC;
	
}

.jumbotron{
	
	background: black;
	text-align: center;
	margin: 0px;
	
}

#stripes {
	
	background: repeating-linear-gradient(
	  90deg,
	  black,
	  black 9px,
	  yellow 10px,
	  yellow 20px
	);
	
	border: none;
	height: 20px;
	
}

h1 {
	 
	text-shadow:2px 2px black;
	
}

#titulo {
	
	color: white;
	
}

#conteudo {

	margin: auto;
    width: 45%;
	
}


#imagem {

	width: 300px;

}

#logo {
	
	background: #E6E6E6;
	padding: 0px;
	
}

#form-login {

	width: 200px;
	height: 250px;
	
}

#menu {
	
	margin: 0px;
	
}

table  { 
	
	background: #E6E6E6;
	
}

#corpo {
	
	margin:auto;
	
}

#form-cadastro {
	
	margin: auto;
	width: 200px;
	
}