body { 
	
	
	background: #FFFFCC; 
	
}

.jumbotron{
	
	background: black;
	text-align: center;
	
}

h1 {
	 
	text-shadow:2px 2px black;
	
}

#titulo {
	
	color: white;
	
}

#imagem {
	
	position: absolute;
	left: 10%;
	top:15%
	
}

#conteudo {
	
	
	position:absolute; 
	top:45%;  
	left:50%; 
	height: 250px;
	width: 250px;
	
}

#menu {
	
	border-bottom: solid 5px black;
	border-top: solid 5px black;
	
}

table  { 
	
	background: #E6E6E6;
	
}

form#form-cadastro {
	
	position:absolute;
	width: 300px;
	left: 35%;
	
}

table#tabela-listagem {
	
	border: solid 2px black;
	
}