body { 
	
	
	background: #FFFFCC;
	
}

.jumbotron{
	
	background: black;
	text-align: center;
	
}

h1 {
	 
	text-shadow:2px 2px black;
	
}

#titulo {
	
	color: white;
	
}

#conteudo {

	margin: auto;
    width: 45%;
	
}


#imagem {

	width: 300px;

}

#form-login {

	width: 200px;
	height: 250px;
	
}

#menu {
	
	border-bottom: solid 5px black;
	border-top: solid 5px black;
	
}

table  { 
	
	background: #E6E6E6;
	
}

#corpo {
	
	margin:auto;
	width: 200px;
	
}